<h1 class="p-3">Stupid Coaching</h1>
<h2 class="p-3">ask your coach</h2>
<form action="/answer" data-turbo="false" class="input-group mb-3 p-3">
  <input type="text" name="question" class="input-text-style">
  <input type="submit" value="Ask!" class="form-submit-button">
</form>
